<!--<%= @kintamojoVardas  %> skirtas atgavimui kintamojo is Kontrolerio -->

<section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">About me</h3>
                            <h6 class="theme-color lead">Programmer </h6>
                            <p>I studying<mark>a full-stack development </mark> <b>what does it mean?</b><br> Is the one who is having sound technical knowledge of each and every aspect of development – front end, back end, various operating systems among other details of the technology. These people are usually termed as “developer generalists”. The significant thing to be noted here is that full-stack developers should not be confused with senior developers.</p>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <b><label>Birthday</label></b>
                                        <p>(30th april 1999)</p>
                                    </div>
                                    <div class="media">
                                    </div>
                                    <div class="media">
                                        <b><label>Residence</label></b>
                                        <p>(Lithuania)</p>
                                    </div>
                                    <div class="media">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                       <b> <label>E-mail</label></b>
                                        <a href="https://www.linkedin.com/in/danielvaskevic/"><p>(Here)</p></a>
                                    </div>
                                    <div class="media">
                                    </div>
                                    <div class="media">
                                    </div>
                                    <div class="media">
                                     <b><label>Freelance</label></b>
                                        <p>(Available)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="counter">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="500" data-speed="500">150</h6>
                                <p class="m-0px font-w-600">Project Completed</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>