<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Susisiekite
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Adresas:</h3>               
                <p style="margin-top:6%;line-height:35%">J. Jasinskio g. 15, Vilnius 01111</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i>El. Susisiekimas:</h3>
                <a href="https://www.linkedin.com/in/danielvaskevic/"><p style="margin-top:6%;line-height:35%">Here</p></a>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Asmuo:</h3>
                <p style="margin-top:6%;line-height:35%">Programinės įrangos kūrėjas</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Kai kurie atlikti darbai:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="https://github.com/daniel2IT">GitHub</a></p>
            </div>
        </div>
        <div class="col-sm-6">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36898.99441694058!2d25.226486279101564!3d54.688734199999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd9409e950027f%3A0x68c78a6b23ed30ea!2sVilniaus%20kolegija%2C%20Elektronikos%20ir%20informatikos%20fakultetas!5e0!3m2!1sen!2slt!4v1604418459748!5m2!1sen!2slt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
       
